page-login {
    .content{
        background: #7b2ee8;
    }
    .content-div{
        background: white;
        margin: 0% 2% 0% 2%;
        padding: 25px 0 15px 0;
        border-radius: 5px;
        margin: 60% 5% 0px 5%;
    }
    .title{
        margin-top: 85px;
        text-align: center;
        width: 80%;
        background: white;
        padding: 3%;
        font-size: 20px;
        float: left;
        border-radius: 0px 10px 10px 0px;
        font-weight: 900;
        color: #474646;
    }
    .button-login{
        margin: 0 auto;
        width: 150px;
        padding: 20px;
        border-radius: 50px;
    }
    
    
}
